<div class="page-signin">

    <div class="signin-header">
        <section class="logo text-center">
            <h1><a href="#/">{{main.brand}}</a></h1>
        </section>
    </div>

    <div class="signin-body">
        <div class="container" ng-controller="SignInCtrl">
            <div class="form-container">

                <form class="form-horizontal" ng-submit="login(credentials)">
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-first">
                                <span class="input-group-addon">
                                    <span class="ti-email"></span>
                                </span>
                                <input type="text"
                                       class="form-control input-lg"
                                       placeholder="Username"
                                       ng-model="credentials.username"
                                       required
                                       autocapitalize="off"
                                       autocorrect="off"
                                       >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="ti-lock"></span>
                                </span>
                                <input type="password"
                                       class="form-control input-lg"
                                       placeholder="Password"
                                       ng-model="credentials.password"
                                       required
                                       >
                            </div>
                        </div>

                        <div class="divider divider-lg"></div>
                        <div class="form-group">
                            <button class="btn btn-primary btn-lg btn-block text-center">Log in</button>
                        </div>
                    </fieldset>
                </form>

                <div class="divider"></div>
                <section class="additional-info">
                    <p class="text-right">
                        <a href="#/auth/forgot-password">Forgot your password?</a>
                        <span> | </span>
                        <a href="#/auth/register">Sign up</a>
                    </p>
                </section>

            </div>
        </div>
    </div>

</div>