
<div class="page page-table" data-ng-controller="videoListCtrl">

    <section class="panel panel-default table-dynamic">
        <div class="panel-heading"><strong><span class="ti-video-clapper"></span> Your Videos</strong></div>

        <div class="table-filters">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <form>
                        <input type="text"
                               placeholder="Search..."
                               class="form-control"
                               data-ng-model="searchKeywords"
                               data-ng-keyup="search()">
                    </form>
                </div>
                <div class="col-sm-3 col-xs-6 filter-result-info">
                    <span>
                        Showing {{ filteredVideos.length }}/{{ videos.length }} entries
                    </span>              
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="btn-group btn-group-justified">
                        <a ng-repeat="rating in ratings" role="button" class="btn" ng-class="rating.class" ng-click="toggleRatingFilter(rating)">{{ rating.rating }}</a>
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th><div class="th">
                        Title
                        <span class="fa fa-angle-up"
                              data-ng-click=" order('title') "
                              data-ng-class="{active: row == 'title'}"></span>
                        <span class="fa fa-angle-down"
                              data-ng-click=" order('-title') "
                              data-ng-class="{active: row == '-title'}"></span>
                    </div></th>
                    <th><div class="th">Media Type</div></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="um in currentPageStores">
                    <td><img ng-src="{{ um.movie.thumbnail }}" alt="" title="{{ um.movie.title }}"></td>
                    <td>
                        <h4>{{ um.movie.title }}</h4>
                        <span class="label"
                              ng-class="ratingLabel(um.movie.rating)">{{ um.movie.rating || 'NR' }}</span>
                        <span ng-repeat="genre in um.movie.genres">
                            <span class="label label-default">{{ genre.name }}</span>
                        </span>
                    </td>
                    <td>
                        <p class="text-center">
                        <span ng-repeat="mt in userMediaTypes">
                            <button class="btn btn-xs"
                                    ng-class="{
                                        'btn-default': !inMediaType(mt.id, um),
                                        'btn-primary': inMediaType(mt.id, um)
                                        }"
                                    ng-click="toggleMediaType(um, mt)">{{ mt.name }}</button>
                        </span><br>
                        </p>
                        <p class="text-right">
                            <button type="button" class="btn btn-xs btn-danger" ng-click="deleteMovie(um)"><i class="ti-trash"></i></button>
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
                <div class="col-md-6 page-num-info">
                    <span>
                        Show 
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select> 
                        entries per page
                    </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="filteredVideos.length"
                                max-size="4"
                                ng-change="select(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                previous-text="&lsaquo;" next-text="&rsaquo;"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    </section>

</div>

<script type="text/ng-template" id="modalConfirmDelete.html">
    <div class="modal-header">
        <h3>Remove Video</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to remove this video?
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()"><i class="ti-trash"></i> Remove</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>