<div class="page" data-ng-controller="chartjsCtrl">

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Line Chart</h3>
                </div>
                <div class="panel-body"><div style="width:100%;">
                        <canvas chartjs-chart
                                height="350"
                                width="600"
                                data-type="lineChartType"
                                data-options="lineChartOpts"
                                data-data="lineChartData"></canvas>
                </div></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Bar Chart</h3>
                </div>
                <div class="panel-body"><div style="width:100%;">
                    <canvas chartjs-chart
                            height="350"
                            width="600"
                            data-type="barChartType"
                            data-options="barChartOpts"
                            data-data="barChartData"></canvas>
                </div></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Radar Chart</h3>
                </div>
                <div class="panel-body"><div style="width:100%;">
                    <canvas chartjs-chart
                            height="350"
                            width="600"
                            data-type="radarChartType"
                            data-options="radarChartOpts"
                            data-data="radarChartData"></canvas>
                </div></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Polar Area Chart</h3>
                </div>
                <div class="panel-body"><div style="width:100%;">
                    <canvas chartjs-chart
                            height="350"
                            width="600"
                            data-type="polarAreaChartType"
                            data-options="polarAreaChartOpts"
                            data-data="polarAreaChartData"></canvas>
                </div></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Pie Chart</h3>
                </div>
                <div class="panel-body"><div style="width:100%;">
                    <canvas chartjs-chart
                            height="350"
                            width="600"
                            data-type="pieChartType"
                            data-options="pieChartOpts"
                            data-data="pieChartData"></canvas>
                </div></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Donut Chart</h3>
                </div>
                <div class="panel-body"><div style="width:100%;">
                    <canvas chartjs-chart
                            height="350"
                            width="600"
                            data-type="donutChartType"
                            data-options="donutChartOpts"
                            data-data="donutChartData"></canvas>
                </div></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Pie Chart with Legend</h3>
                </div>
                <div class="panel-body chartjs-with-legend"><div style="width:100%;">
                        <canvas chartjs-with-legend
                                height="350"
                                width="600"></canvas>
                </div></div>
            </div>
        </div>
    </div>

</div>